* {
    margin: 0;
    padding: 0;
  
  }

/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;

}

p {
    color: #2C9AB7;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

/* Section */
section {
    height: 1000px;
}

/* Container */
.container {
	margin-left: auto;
	margin-right: auto;
	height: 1200px;
	background-color: #FFFFFF;

}

/* Banner  */
.banner {
    position: relative;
    text-align: center;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin-right: 60px;
    margin-bottom: 50px;
    background-color: #2C9AB7;
    padding: 10px;
    letter-spacing: 4px;
}

/* Navigation */
header {

	background-color: #404849;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
}

header nav ul {
	list-style: none;
	float: right;
}

nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
    margin-top: 17px;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #2C9AB7;
	text-decoration: none;
}
ul li:hover a {
	color: #ffffff;
}

.logo {
	color: rgb(0, 0, 0);
    background-color: #2C9AB7;
	font-weight: bold;
	text-align: undefined;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	float: left;
	margin-left: 10px;
	letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
}

.flex-container {
    display: flex;
	  align-items: center;
    margin-left: 20px;
	  margin-right: 400px;
    margin-bottom: 20px;
  }

  .flex-container2 {
    display: flex;
    justify-content: space-between;
	  align-items: center;
    margin-right: 600px;
  }

.section-title {
    color: #2C9AB7;
    border-right: 3px solid;
    text-align: center;
    padding: 30px;
    margin-right: 100px;
  }
  
.primary-border {
    border-color: #2C9AB7;  
  }

footer {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #2C9AB7;
    margin-top: 40px;
}

footer a {
    color: #2C9AB7;
}


  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .section-title {
      width: 80%;
    }
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }

    .flex-container div img {
        width: 200px;
        height: 200px;
    }
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .section-title {
      width: 60%;
    }

    .container {
        background-color: #FFFFFF;
        align-items: center;
        height: 2000px;
        width: 575px;
        
    }

  
  }