:root {
  --primary-color: #f72424;
  --secondary-color: #3b2137;
  --tertiary-color: #000000;
}

* {
  margin: 0;
  padding: 0;

}

body {
  color: var(--tertiary-color);
  font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* apply styles to <footer> */
footer {
  background: var(--tertiary-color);
  width: 100%;
  padding: auto;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: var(--primary-color);
  font-size: 15px;
  margin: 0;
  padding: 20px 0px 20px 0px;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}

section {
  padding: 150px;
  align-items: center;
}

.flex-row {
  padding: 10px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.blackbg {
  background: var(--tertiary-color);
  padding-top: 130px;
  border: 3px solid red;
}

.port {
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.port h3 {
  color: var(--primary-color);
  font-size: 46px;
  flex: 1 30%;
}

.port-text {
  flex: 12;
  color: var(--primary-color);
}

.port-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.port-text p {
  color: var(--primary-color);
  font-size: 18px;
  padding: 50px;
}

.port-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--primary-color);
}

.port-img {
  flex: 1 12%;
  margin-right: 40px;
}

.port-img img {
  max-width: 20%;
  padding: 60px;
}

.port-img-small {
  flex: 1 12%;
  margin-right: 40px;
}

.port-img-small img {
  max-width: 5%;
  padding: 60px;
}

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  font-family: 'Times New Roman', Times, serif;
}

.section-text {
  color: var(--primary-color);
}

.primary-border {
  border-color: var(--primary-color);
}

/* CONTACT STYLES START */
.contact {
  background: white;
}

.contact h2 {
  color: var(--primary-color);
  text-align: center ;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.contact-info h3 {
  color: var(--tertiary-color);
  font-size: 32px;
}

.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  
  .section-title {
    width: 80%;
  }
  
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .port h3 {
    flex: 1 100%;
    text-align: center;
  }

  .port-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .port-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .port-text {
    flex: 100%;  
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {



}