* {
    margin: 0;
    padding: 0;
  
  }

/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;

}

div {
    color: #2C9AB7;
    font-size: 16px;
    text-align: center;  
}



a {
  color: #c97b06;;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;

}

img {
  max-width: 100%;
  display: flex;
  min-height: 207px;
}

/* Section */
section {
    height: 1000px;
}

/* Container */
.container {
	margin-left: auto;
	margin-right: auto;

	background-color: #FFFFFF;

}

/* Banner  */
.banner {
    position: relative;
    text-align: center;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin-right: 10px;
    margin-bottom: 50px;
    background-color: #2C9AB7;
    padding: 10px;
    letter-spacing: 4px;
}

/* Navigation */
header {

	background-color: #404849;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
}

header nav ul {
	list-style: none;
	float: right;
}

nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
    margin-top: 17px;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #2C9AB7;
	text-decoration: none;
}
ul li:hover a {
	color: #ffffff;
}

.logo {
	color: rgb(0, 0, 0);
  background-color: #2C9AB7;
	font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	float: left;
	letter-spacing: 4px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  font-style: italic;
}

.flex-container {
    display: flex;
	  align-items: center;
    margin-left: auto;
	  margin-right: 50px;
    margin-bottom: 20px;
    justify-content: start
  }

.flex-container2 {
    display: flex;
	  align-items: center;
    margin-left: auto;
	  margin-right: 50px;
    margin-bottom: 20px;
    
  }

.section-title {
    color: #2C9AB7;
    
    text-align: center;
    padding: 30px;
    margin-right: 100px;
  }


footer {
   
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding-top: 30px;
    
    
}

footer a {
    color: #c97b06;
}


  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .section-title {
      width: 80%;
    }

    #mainbody {
      max-width: 90%;
    }
  }

  /* MEDIA QUERY FOR SCREENS 768px AND SMALLER */

  @media screen and (max-width: 768px) {

    .container {
      padding-left: 60px;
    }

    .flex-container {
      padding-top: 20px;
    }
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    .container {
      height: 1350px;
    }

    #mainbody {
      margin-left: 20px;
    }

    .flex-container {
      display: block;
      margin-left: 40px;
    }

    .flex-container2 {
      display: block;
      margin-left: 40px;
    }
  }

@media screen and (max-width: 375px) {

 .container {
  padding-left: 0px;
  height: 1360px;
 }
}
